.Rproj.user
.Rhistory
.RData
.Ruserdata
basic_markdown_notebook.html
basic_markdown_notebook.nb.html
spsa_paper_notebook.html
SPSA_presentation.html
.txt
h1.tex
SPSA_presentation_files
h1_hurdle.png
h1_qp.png
h1_truncp.png
h2_hurdle.png
h2_truncp.png
h3_qp.png
hist_NAGS.png
h3_hurdle.png
h3_truncp.png
h4_hurdle.png
h4_qp.png
h4_truncp.png
hist_opposition_size.png
hist_train_camps.png
hist_w.png
hw_qp.png
opp_by_nags.png
opp_by_traincamps.png
apsa_paper_notebook.html
norm_data_apsa_paper_notebook.html
1_current_version.aux
1_current_version.html
1_current_version.log
1_current_version.pdf
1_current_version.synctex.gz
1_current_version.tex
cases data
h1.log
